@import 'variables';

body {
  background-color: $bg-color-dark;
  color: red;
}

.content-container {
  width: 80%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  border: solid thin white;
}